/* --- Style Sheet --- */

#main {
	width: 316px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
}
.screen {
	width: 100%;
	height: 100px;
	background-color: grey;
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
	border: solid 2px white;
}
.box {
	width: 100%;
	height: 50%;
	margin: 0 auto;
	margin-top: 14%;
	padding-right: 4px;
	background-color: white;
	box-sizing: border-box;
	display: inline-block;
	text-align: right;
	font-size: 20px;
	line-height: 46px;
}
.button {
	width: 75px;
	height: 75px;
	float: left;
	background-color: lightgrey;
	border: solid 2px white;
}
.action {
	width: 75px;
	height: 75px;
	float: left;
	background-color: orange;
	border: solid 2px white;
}
.equals {
	width: 100%;
	height: 75px;
	float: left;
	background-color: grey;
	box-sizing: border-box;
	display: inline-block;
	border: solid 2px white;
}
.hover:hover {
	background-color: yellow;
	cursor: pointer;
}
.orange {
	background-color: orange;
}